@import './constants';

.os-thumb-container {
  min-width: 48px;
  text-align: center;
  a {
    text-decoration: none;
    color: $BLACK_3;
  }
  // @media (min-width: Breakpoints.LG)
  //   max-width 5.75rem

}

.os-thumbnail {
  width: 100%;
  border-radius: 5px;
  background-position: center;
  background-size: 120%;
  margin-bottom: 16px;
  -webkit-transition: width 0.2s, height 0.2s, margin 0.2s; // For Safari 
  transition: width 0.2s, height 0.2s, margin 0.2s;
}

.os-thumb-photo{
  max-height: 150px;
}
.os-thumbnail:hover {
  width: 126px;
  height: 176px;
  margin-top: -19px;
  margin-left: -14px;
  border: solid $WHITE_1 5px;
  box-shadow: $BLUE_1 1px 1px 40px 8px;
}

.os-thumb-name{
  width: 110px;
  margin-left: -6px;
  position: absolute;
  top: 160px;
  span {
    font-size: 13px;
    border-radius: 3px;
    background-color: $WHITE_1;
    padding: 4px 4px;
    font-weight: bold;
  }
}

