// ========================== Bootstrap Customization ============================

.btn {
  // border: none;
}
.btn-primary {
  background-color: $BLUE_1;
  border-color: $BLUE_1;
}

.modal-backdrop.in{
  opacity: 0.9;
}
.modal-backdrop {
  background-color: $BLACK_3;
}

.modal-dialog{
  width: 650px;
  margin-top: 100px;
  margin-bottom: 10px;

  @media screen and (max-width: $BP_SM) {
    width: auto;
    margin-top: 50px;
  }
}

.modal-content{
  .close {
    color: $WHITE;
    opacity: 1;
  }
  .modal-body {
    border-radius: 5px;
    border: solid 1px $GRAY_2;
    padding: 50px 50px 30px 50px;
    background-color: $WHITE;

    @media screen and (max-width: $BP_SM) {
      padding: 50px 30px 20px 30px;
    }
  }
  .modal-header{
    padding: 15px 0px;
    border:none;
  }
  border: none;
  background: transparent;
}

.media {
  margin-top: 22px;
}

// ========================== HTML TAGS ===========================================


a, p, h1, h2, h3, h4, h5, h6 {
  font-family: $FONT_2;
}
a {
  color: $GRAY_4;
}
a:hover {
  cursor: pointer;
  color: $GRAY_4;
}

small{
  font-size: 14px;
}

span, div{
  font-family: $FONT_1;
}

body {
  background-color: black;
  //background-image: url("https://s3.amazonaws.com/solomid-resources/overwatch/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
}

#container {
  overflow-x: hidden;
}

