//-----------------------------FONT CONSTANTS
$FONT_1: 'Open Sans', serif;
$FONT_2: 'Lato', sans-serif;

//-----------------------------COLOR CONSTANTS
// example: nav bar header link
$WHITE: #FFFFFF;

// example: background of homepage
$WHITE_1: #EBEEF4;

// example: border of hero image
$WHITE_2: #ECEFF4;

// example: Copyright © 2009-2016 SoloMid. 
$GRAY_1: #D3D8E1;

// example: border of tip body
$GRAY_2: #DDE1E8;

// example: name of Hero in Tip 
$GRAY_3: #B4BDD1;

// example: title of Tip STRATEGY & TIPS
$GRAY_4: #737E93;

// example: text color on mobile tabs-nav (hero filter)
$GRAY_5: #76869B;

// example: navbar active item
$BLUE_1: #3EABF0;

// example: BLACK
$BLACK_0: #000000;

// example: light gray nav bar background
$BLACK_1: #1B222E;

// example: search bar background
$BLACK_2: #232936;

// example: search input placeholder
$BLACK_3: #404A5F;

// example: border on navigation search bars in modals
$BLACK_4: #CCCCCC;

// example: gray standard text
$VULCAN: #373a3c;

// example: gray standard text
$MONSOON: #777;

// example: light gray nav bar background
$BLACK_HAZE: #f7f7f9;

// example: "by anonymous"
$YELLOW_1: #FFB50D;

// example: green button 
$GREEN_1: #13B019;

// example: red button 
$RED_1: #DF3535;

// example: orange button, also the default bootstrap warning orange
$ORANGE_1: #F0AD4E;

/* TENTATIVE Temporary Breakpoint Sizes */
// Following bootstrap sizes
$BP_XS: 480px;

$BP_SM: 768px;

$BP_MD: 992px;

$BP_LG: 1200px;