
// example: nav bar header link
$WHITE: #FFFFFF;

// example: background of homepage
$WHITE_1: #EBEEF4;

// example: border of hero image
$WHITE_2: #ECEFF4;

// example: Copyright © 2009-2016 SoloMid. 
$GRAY_1: #D3D8E1;

// example: border of tip body
$GRAY_2: #DDE1E8;

// example: navbar active item
$BLUE_1: #3EABF0;

// example: light gray nav bar background
$BLACK_1: #1B222E;

// example: search bar background
$BLACK_2: #232936;

// example: search input placeholder
$BLACK_3: #404A5F;


