@import '_constants';

.os-white {
  color: $WHITE !important;
}

.os-font-size-12 {
  font-size: 12px;
}

.os-font-size-16 {
  font-size: 16px;
}

.os-font-size-18 {
  font-size: 18px;
}

a, p, h1, h2, h3, h4, h5, h6 {
  font-family: $FONT_2;
}
a {
  color: $GRAY_4;
}
a:hover {
  cursor: pointer;
  color: $GRAY_4;
}

span {
  font-family: $FONT_1;
}

body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-color: $WHITE_1;
  background-attachment: fixed;
  background-position: center top;
}

.os-content {
  padding-top: 100px;
}

@media screen and (min-width: $BP_TABLET) {
  .os-col-sm-1 {
    width: 12.5%;
    float: left;
    padding: 12px; 
    margin-bottom: 30px;
  }
}

// .form-control {
//   border-color: $WHITE;
// }

.center-text {
  text-align: center;
}

.os-btn-blue{
  background-color: $BLUE_1;
  border-color: $BLUE_1;
  font-size: 12px;
  border-radius: 2px;
  padding: 0.75em 1.75em;
}

.os-btn-white{
  font-size: 12px;
  border-radius: 2px;
  padding: 0.75em 1.75em;
  border: $GRAY_3 solid 1px;
  color: $GRAY_3;
}

.os-textarea::-webkit-input-placeholder {
  font-family: $FONT_1;
  font-size: 14px;
}

.os-textarea::-moz-placeholder {
  font-family: $FONT_1;
  font-size: 14px;
}

.os-textarea:-ms-input-placeholder {
  font-family: $FONT_1;
  font-size: 14px;
}