//HEADER
.os-comm-header {
  max-height: 323px;
  margin: 0px 55px;
  padding: 75px 331px 75px 75px;
  background: url('https://s3.amazonaws.com/solomid-resources/overwatch/community/hero_bg.png');
  text-align: left;
}
.os-comm-welcome {
  width: 330px;
  height: 35px;
  margin: 0;
  padding-bottom: 7px;
}
.os-comm-big {
  font-weight: bold;
  width: 594px;
  height: 54px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
}
.btn-comm {
  width: 183px;
  height: 47px;
  margin-top: 30px;
}
//SEARCH
.os-comm-body {
  margin: 0px 40px;
  padding: 20px 25px;
  background: #EBEEF4;
}
.os-comm-search {
  width: 960px;
  height: 211px;
  border-radius: 5px;
  background-color: #737e93;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
.os-comm-search-text {
  width: 330px;
  height: 39px;
  color: #ffffff;
  text-align: center;
  margin: 0px 315px;
  padding-top: 50px;
}
//BOARDS
.os-comm-boards {
  width: 960px;
  height: 284px;
  margin-top: 20px;
  position: relative;
}
.os-comm-boards-section {
  position: absolute;
  width: 465px;
  height: 127px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #dde1e8;
  object-fit: contain;
}
.os-comm-boards-section:nth-child(1) {
  top: 0;
  left: 0;
}
.os-comm-boards-section:nth-child(2) {
  top: 0;
  right: 0;
}
.os-comm-boards-section:nth-child(3) {
  bottom: 0;
  left: 0;
}
.os-comm-boards-section:nth-child(4) {
  bottom: 0;
  right: 0;
}
.boards-content {
  display: flex;
}
.boards-img {
  margin: 30px 30px 47px 30px;
}
.boards-text {
  height: auto;
  width: auto;
  padding-top: 22px;
}
.boards-header {
  margin: 0;
  color: #737e93;
  height: 24px;
  padding-bottom: 5px;
}
.boards-description {
  padding-top: 10px;
  padding-left: 2px;
  width: 310px;
  color: #b4bdd0;
}
