.os-hero-tip-name {
  font-size: 14px;
  color: $GRAY_3;
}

.os-hero-tip-title {
  font-size: 20px;
  font-weight: bolder;
  color: $GRAY_4;
}

.os-hero-tip-body{
  min-height: 685px;
}

.os-hero-tip-col {
  width: 50%;
  float: left;
}

.os-hero-viewall-tip-col {
  width: 57%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.os-hero-addtip-tip-col {
  width: 43%;
  float: right;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.os-hero-tip-container{
  padding: 12px 15px;
}

.os-hero-addtip-body{
  padding: 28px 28px;
  background-color: $WHITE;
  border: $GRAY_2 solid 1px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0 rgba($BLACK_0, 0.1) ;

  .os-hero-tip-title{
    margin-bottom: 30px;
  }
}