
.os-heroes-top {
  min-height: 190px;
  margin: 0px 55px;
  padding: 50px 100px 34px 100px;
  background: $BLACK_2;
  text-align: center;
}
.os-heroes-body {
  margin: 0px 55px;
  padding: 30px 25px;
  background: $WHITE_1;
}