
.os-hero-maprankings-container {
  padding: 0px 16px;
  min-height: 120px;
  margin-top: 20px;
}
.os-hero-maprankings-info-tip {
  text-align: center;
  background-color: #D3D8E2;
  color: #737E93;
  height: 94px;
  width: 100%;
  margin-bottom: 45px;
}
.os-hero-info-tip-text {
  height: 44px;
  width: 100%;
  padding-top: 20px;
}
.os-hero-maprankings-col {
  width: 100%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}
.os-hero-maprankings-body {
  padding: 25px 20px;
  background-color: $WHITE;
  border: $GRAY_2 solid 1px;
  border-radius: 5px;
  min-height: 650px;
  box-shadow: 0px 2px 2px 0 rgba($BLACK_0, 0.1) ;
}

.os-map-header-image{
  background-color: black;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  margin: -10px;
  opacity: 0.3;
  width: 110%;
  left: 0px;
  top: 0px;
}

.os-map-header-background{
  background-color: $BLACK_2;
  opacity: 0.5;
  height: 138px;
}

.os-map-header-nav{
  overflow: hidden;
  height: 138px;
  position:relative;
  margin: 0px 10px 15px 10px;
}
.os-map-header-typename{
  font-size: 14px;
  color: $GRAY_1;
}
.os-map-ranking-vote-group{
  top: 60px;
  right: 50px;
  position: absolute;
}
.os-map-ranking-info{
  top: 45px;
  left: 50px;
  position: absolute;
}

.os-maprankings-list {
	/* padding: 20px 0px; */
}

.os-map-vote-group {
  margin: 24px 0px;
}

.os-map-item{
  display: flex;
  background-color: $WHITE_2;
  margin: 15px 0px;
  border-radius: 4px;
  overflow: hidden;
  .os-map-info{
    display: inline-block;
    padding: 15px 15px;

    .os-map-type{
      font-weight: bold;
      color: $GRAY_3;
    }
    .os-map-name{
      font-weight: bold;
      color: $GRAY_4;
      margin-bottom: 0px;
    }
  }
  &:hover{
    text-decoration: none;
    box-shadow: #3EABF0 0px 0px 4px 2px;
  }
}
