@import '../base/_constants';

.os-maps-top {
  min-height: 190px;
  margin: 0px 55px;
  padding: 52px 100px 32px 100px;
  background: $BLACK_2;
  text-align: center;
}
.os-maps-body {
  margin: 0px 55px;
  padding: 30px 25px;
  background: $WHITE_1;
}
// Mobile-friendliness changes
@media screen and (max-width: $BP_TABLET) {
  .os-maps-top,
  .os-maps-body,
  .os-maps-top {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .os-content {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    padding-top: 0;
  }
  .os-maps-body {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .os-maps-top { // Combat absolutely positined search bar
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .os-maps-top,
  .os-hero-top,
  .os-hero {
    >.col-xs-12,
    >.col-lg-12,
    >.col-lg-3,
    >.col-lg-9 {
      padding: 0;
    }
  }
  .os-container {
    padding: 0;
  }
  .os-maps .col-lg-12 {
    padding: 0;
  }

  // TODO: move this to appropriate place
  // .input-group-btn,
  // .os-search-input {
  //   display: block;
  // }
}
.os-maps-grid {
  margin:0px -8px;
}
.os-map {
  box-shadow: rgba(0,0,0,0.1) 0px 2px 2px 0px;
  position: relative;
  margin: 0px -4px 20px -4px;
  height: 289px;
}
.os-map-profile{
  background-color: $WHITE;
  padding: 16px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}
.os-map-image{
  border-radius: 5px 5px 0px 0px;
}

.os-map-profile-type {
  font-size: 14px;
  font-family: $FONT_1;
  color: $GRAY_3;
}

.os-map-profile-title{
  font-size: 18px;
  font-family: $FONT_1;
  font-weight: bold;
  color: $GRAY_4;
}

.os-map-btn{
  height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.2s ease; // For Safari 
  -moz--webkit-transition: all 0.2s ease; // For Safari 
  transition: all 0.2s ease;
}

.os-map:hover .os-map-btn{
  height: 38px;
}
