@import '../base/constants';

.os-matchup-top {
  min-height: 242px;
  padding: 30px 170px 70px 170px;
  margin: 0px 55px;
  background: $BLACK_2;
}
.os-matchup-body{
  margin: 0px 55px;
  padding: 20px 25px;
  background: $WHITE_1;
}
.os-matchup-vs-img {
  margin: auto;
  margin-top: 48px;
  background-image: url("/images/vs.png");
  background-size: cover;
  width: 132px;
  height: 69px;
}
.os-hero-left-profile{
  margin-right: -16px;
  float: right;
}
.os-hero-right-profile{
  margin-left: -16px;
  float: left;
}

.os-matchup-profile{
  margin-left: -16px;
  float: left;
}