
.os-matchup-tip-name {
  font-size: 14px;
  color: $GRAY_3;
}

.os-matchup-left-title {
  font-size: 20px;
  font-weight: bolder;
  color: $GRAY_4;
  
  span {
    color: $BLUE_1;
  }
}

.os-matchup-right-title {
  font-size: 20px;
  font-weight: bolder;
  color: $GRAY_4;

  span {
    color: $RED_1;
  }
}

.os-matchup-tip-body{
  padding: 28px 28px;
  background-color: $WHITE;
  border: $GRAY_2 solid 1px;
  border-radius: 5px;
  min-height: 685px;
  box-shadow: 0px 2px 2px 0 rgba($BLACK_0, 0.1) ;
}

.os-matchup-tip-col {
  width: 50%;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.os-matchup-tip-container{
  padding: 16px 16px;
}

.os-mini-search-btn {
  cursor: pointer;
  display: inline-block;
  padding: 1px 14px;
  border: $GRAY_1 solid 2px;
  border-radius: 3px;
  color: $GRAY_1;
}
