@import '../base/_constants';

.os-forgot {
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: $WHITE_1;
}

.os-reset {
  margin-top: 200px;
  margin-bottom: 200px;
  background-color: $WHITE_1;
}