
.os-forgot {
  height: 85vh;
  padding: 200px;
  background-color: $WHITE_1;

  .os-forgot-body{

    margin: auto;
  	width: 650px;
  	border-radius: 5px;
    border: solid 1px #DDE1E8;
    padding: 50px 50px 30px 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);

    h2 {

      font-weight: bolder;
      color: $GRAY_4;
    }
    p {
      color: $GRAY_4;
    }
  }
}

.os-reset {
  height: 85vh;
  padding: 200px;
  background-color: $WHITE_1;

  .os-reset-body{
    margin: auto;
  	width: 650px;
  	border-radius: 5px;
    border: solid 1px #DDE1E8;
    padding: 50px 50px 30px 50px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.1);
    
    h2 {
      font-weight: bolder;
      color: $GRAY_4;
    }
    p {
      color: $GRAY_4;
    }
  }
}