@import '../base/_constants';

.os-hero-top {
  min-height: 242px;
  padding: 50px 170px;
  margin: 0px 55px;
  background: $BLACK_2;
}
.os-hero-body{
  margin: 0px 55px;
  padding: 30px 25px;
  background: $WHITE_1;
}
.os-hero-profile {
  text-align: center;
  margin-left: -50px;
  h5 {
    font-family: 'Open Sans', serif;
    font-size: 16px;
    font-weight: bold;
  }
}
.os-hero-search {
	margin-top: 45px;
}
.os-hero-profile-name {
  margin-top: 20px;
  color: white;
  text-decoration: none;
  text-shadow: #3EABF0 0px 0px 6px;
}
.os-hero-profile-icon {
  margin-top: -8px;
  clip-path: polygon(0px 8px, 72px 8px, 72px 93px, 71px 95px, 36px 116px, 1px 95px, 0px 93px);
  -moz-clip-path: polygon(0px 8px, 72px 8px, 72px 93px, 71px 95px, 36px 116px, 1px 95px, 0px 93px);
  -webkit-clip-path: polygon(0px 8px, 72px 8px, 72px 93px, 71px 95px, 36px 116px, 1px 95px, 0px 93px);
  -ms-input-clip-path: polygon(0px 8px, 72px 8px, 72px 93px, 71px 95px, 36px 116px, 1px 95px, 0px 93px);
}
.os-profile-mask { 
  background-image: url(/images/hero-mask.png);
  background-size: cover;
  width: 129px;
  height: 135px;
  position: absolute;
  left: -7px;
  top: -2px;
}
.os-hero-profile-type {
  left: 20px;
  top: 70px;
  position: absolute;
  background-image: url(/images/oval.png);
  background-size: cover;
  width: 75px;
  height: 75px;
}
.os-hero-footer{
  background-color: $GRAY_1;
  min-height: 334px;
}
.os-hero-footer-text {
  text-align: center;
  padding-top: 50px;
  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }
}
.os-hero-footer-thumbs {
  margin-top: 10px;
}
.os-hero-footer-thumb {
  width: 75px;
  height: 75px;
  float: left;
  margin: 10px;
}
.os-hero-footer-thumb-img {
  border-radius: 5px;
  position: absolute;
  -webkit-transition: box-shadow 0.2s; // For Safari 
  -moz--webkit-transition: box-shadow 0.2s; // For Safari 
  transition: box-shadow 0.2s;
}
.os-hero-footer-thumb-img:hover {
  border: solid $WHITE_2 4px;
  margin-left: -4px;
  margin-top: -4px;
  width: 83px;
  height: 83px;
  box-shadow: $BLUE_1 0px 0px 4px 2px;
}
.os-card-wrapper {
  @media screen and (min-width: $BP_TABLET) {
    padding: 15px;
  }
}
.os-card {
  padding: 25px 40px;
  border-radius: 5px;
  background-color: $WHITE;

  .os-tip-upvote,
  .os-tip-content {
    vertical-align: middle;
    display: inline-block;
  }
  .os-tip-upvote {
    width: 10%;
  }
  .os-tip-content {
    width: 90%;
    font-size: 14px;
  }
  @media screen and (min-width: $BP_TABLET) {
    padding: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    &:first-of-type {
      position: relative;
      left: -8px;
    }
    &:last-of-type {
      position: relative; 
      left: 8px;
    }
  }
} 
.os-hero-nav {
  display: inline-block;
  padding-left: 0px;
  margin-bottom: 32px;
  list-style: none;
  .os-hero-nav-item {
    float: left;
    text-align: center;
    
    a {
      text-decoration: none;
      padding: 8px 16px;
      color: $GRAY_4;
      font-size: 16px;
      border-bottom: 4px solid $GRAY_4;
    }
    a:hover {
      color: $BLUE_1;
      border-bottom: 4px solid $BLUE_1;
    }
  }
  .active a{
    color: $BLUE_1;
    border-bottom: 4px solid $BLUE_1;
  }
}
