
.os-hero-top {
  min-height: 242px;
  padding: 48px 170px 48px 170px;
  margin: 0px 55px;
  background: $BLACK_2;
}
.os-hero-body{
  margin: 0px 55px;
  min-height: 800px;
  padding: 15px 25px;
  background: $WHITE_1;
}
.os-hero-search {
	margin-top: 54px;
}
.os-hero-profile-name {
  font-family: $FONT_1;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: #3EABF0 0px 0px 6px;
}
.os-hero-profile-icon {
  margin-top: 8px;
  clip-path: polygon(0px 8px, 72px 8px, 72px 80px, 71px 81px, 36px 101px, 1px 81px, 0px 80px);
  -moz-clip-path: polygon(0px 8px, 72px 8px, 72px 80px, 71px 81px, 36px 101px, 1px 81px, 0px 80px);
  -webkit-clip-path: polygon(0px 8px, 72px 8px, 72px 80px, 71px 81px, 36px 101px, 1px 81px, 0px 80px);
  -ms-input-clip-path: polygon(0px 8px, 72px 8px, 72px 80px, 71px 81px, 36px 101px, 1px 81px, 0px 80px);
}
.os-profile-mask {
  background-image: url("https://s3.amazonaws.com/solomid-resources/overwatch/icons/hero-mask-left.png");
  background-size: cover;
  width: 129px;
  height: 135px;
  text-align: center;
  left: -7px;
  top: -2px;

  @media screen and (max-width: $BP_MD) {
    margin: auto;
  }
}
.os-hero-profile-type {
  position: absolute;
  margin-left: 27px;
  margin-top: -60px;
  background-image: url("https://s3.amazonaws.com/solomid-resources/overwatch/icons/oval.png");
  background-size: cover;
  width: 75px;
  height: 75px;

  img {
    margin-top: 29px;
    margin-left: 1px;
  }
}
.os-hero-footer{
  background-color: $GRAY_1;
  min-height: 290px;
}
.os-hero-footer-text {
  text-align: center;
  padding-top: 50px;

  p {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0px;
  }
}
.os-hero-footer-thumbs {
  margin-top: 10px;
}
.os-hero-footer-thumb {
  width: 75px;
  height: 75px;
  float: left;
  margin: 8px;
}
.os-hero-footer-thumb-img {
  border-radius: 5px;
  background-color: $GRAY_4;
  position: absolute;
  -webkit-transition: box-shadow 0.2s; // For Safari
  -moz--webkit-transition: box-shadow 0.2s; // For Safari
  transition: box-shadow 0.2s;
}
.os-hero-footer-thumb-img:hover {
  border: solid $WHITE_2 4px;
  margin-left: -4px;
  margin-top: -4px;
  width: 83px;
  height: 83px;
  box-shadow: $BLUE_1 0px 0px 4px 2px;
}
.os-card-wrapper {
  @media screen and (min-width: $BP_MD) {
    padding: 15px;
  }
}
.os-card {
  padding: 25px 40px;
  border-radius: 5px;
  background-color: $WHITE;

  .os-tip-upvote,
  .os-tip-content {
    vertical-align: middle;
    display: inline-block;
  }
  .os-tip-upvote {
    width: 10%;
  }
  .os-tip-content {
    width: 90%;
    font-size: 14px;
  }
  @media screen and (min-width: $BP_MD) {
    padding: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);

    &:first-of-type {
      position: relative;
      left: -8px;
    }
    &:last-of-type {
      position: relative;
      left: 8px;
    }
  }
}
.os-hero-nav {
  display: inline-block;
  padding-left: 0px;
  margin: 16px 0px;
  list-style: none;

  .os-hero-nav-item {
    float: left;
    text-align: center;

    a {
      text-decoration: none;
      padding: 8px 16px;
      color: $GRAY_4;
      font-size: 16px;
      border-bottom: 4px solid $GRAY_4;
    }
    a:hover {
      color: $BLUE_1;
      border-bottom: 4px solid $BLUE_1;
    }
  }
  .active a{
    color: $BLUE_1;
    border-bottom: 4px solid $BLUE_1;
  }
}

.os-hero-left-search{
  float: left;
  margin-left: 8px;
  margin-top: 64px;
}
.os-hero-right-search{
  float: right;
  margin-right: 8px;
  margin-top: 64px;
}
