.os-ad{
  text-align: center;
  overflow: hidden;
}

.os-ad-top{
  margin-top: -8px;
  margin-bottom: 16px;
}

.os-ad-middle{
  margin-top: 16px;
  margin-bottom: 16px;
}

.os-ad-right{
  margin-bottom: 16px;
}

.os-ad-side{
  position: fixed;
  display: none;

  // @media (min-width: 1800px)
    // display block
}
.os-ad-side-left{
  left: 0;
}

.os-ad-side-right{
  right: 0;
}
