.os-ad{
  text-align: center;
  overflow: hidden;
}

.os-ad-top{
  padding: 0px 60px;
/*  margin-top: -8px;*/
/*  margin-bottom: 16px;*/
}
.os-ad-bottom{
  padding: 0px 60px;
}

.os-ad-middle{
  margin-top: 16px;
  margin-bottom: 16px;
}

.os-ad-right{
  margin-bottom: 16px;
}

.os-ad-side{
  position: fixed;
  display: none;

  // @media (min-width: 1800px)
    // display block
}
.os-ad-side-left{
  left: 0;
}

.os-ad-side-right{
  right: 0;
}

.os-gpt-container{
  background-color : black;
  position: absolute;
  margin-top: 100px;
  margin-left: calc((98.5% - 1600px)/2);
  /*display: block;*/
}