@import '../base/constants';

.os-card-container {
  @media screen and (max-width: $BP_MD) {
    margin-left: -10px;
    margin-right: -10px;
  }
  @media screen and (max-width: $BP_SM) {
    // Remove padding on small screens
    .col-lg-7 {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.os-card-col {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.os-card-body {
  padding: 28px 28px;
  background-color: $WHITE;
  border: $GRAY_2 solid 1px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px 0 rgba($BLACK_0, 0.1) ;
}
