
.os-footer {
  background-color: $BLACK_3;
  margin-top: 50px;

  h4 {
    text-transform: uppercase;
    margin-bottom: 0;
  }

  hr {
    margin-bottom: 24px;
  }

  ul{
    font-size: 14px;
    line-height: 28px;
  }

  .os-footer-ul {
    @media screen and (max-width: $BP_MD) {
      .nav-item {
        width: 100%;
        text-transform: uppercase;
        text-align: center;

        +.nav-item {
          // Remove higher specificity bootstrap left margin
          margin-left: 0;
          margin-top: 4px;
        }
      }
    }
  }
}

.os-footer-links {
  margin-bottom: 24px;
}

.os-footer-row {
  text-align: center;
}

.os-footer-logo-row {
  padding-top: 30px;
  padding-bottom: 15px;
}

.os-footer-block {
  display: inline-block;
}

.os-gray {
  color: $GRAY_1;
}

.os-footer-ul {
  li {
    padding: 0px 15px;
  }
}
