@import '../base/constants';
.os-heroes-grid {
  margin-bottom: 16px;
  // @media (min-width: Breakpoints.LG)
  //   margin-bottom 0
}
.os-heroes-grid-cell {
  position: relative;
  margin-bottom: 35%;
}
.os-heroes-grid-overlay{
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 0.75rem;
  color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  // @media (min-width: Breakpoints.LG)
  //   font-size 0.875rem
}
.os-thumb-container {
  min-width: 48px;
  text-align: center;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: $BLACK_3;
  }
  // @media (min-width: Breakpoints.LG)
  //   max-width 5.75rem
}
.os-thumbnail-wrapper {
  border-radius: 5px;
  background-color: $GRAY_4;
  border: 5px solid #ebeef4;
  -webkit-transition: transform 0.25s, box-shadow 0.25s; // For Safari
  -moz--webkit-transition: transform 0.25s, box-shadow 0.25s; // For Safari
  transition: transform 0.25s, box-shadow 0.25s;
}
.os-thumbnail-wrapper:hover {
    box-shadow: 0px 0px 25px #3EABF0;
    transform: scale(1.15);
}
.os-thumbnail {
    border-radius: 5px;
    height: 168px;
    width: 90px;
}
.os-thumb-photo{
    position: relative;
    z-index: 1;
}
.os-thumb-name{
    position: relative;
    text-align: center;
    z-index: 2;
  span {
    font-size: 13px;
    background-color: $WHITE_1;
    font-weight: bold;
    border-radius: 3px;
    display: inline-block;
    padding: 4px;
    transition: box-shadow 0.25s;
  }
}
.os-thumb-container:hover span {
   box-shadow: 0px 0px 10px rgba(62, 171, 240, 0.5);
}
