
.os-modal-title {
  font-size: 32px;
  font-weight: bolder;
  color: $GRAY_4;
}

.os-modal-description{
  color: $GRAY_4;
  margin-bottom: 30px;
  font-size: 18px;
}

.os-modal-form-group-1{
  margin-bottom: 30px;
}

.os-modal-form-group-2{
  margin-bottom: 20px;
}

.os-modal-form-group-3{
  border-bottom: 1px $GRAY_1 solid;
  padding-bottom: 30px;
}
.os-modal-form-group-4{
  text-align: center;
  padding-top: 25px;
}

.os-modal-input{
  padding: 16px 24px;
  border-radius: 3px;
}
.os-modal-input::-webkit-input-placeholder{
  font-size: 14px;
  font-color: $GRAY_4;
  color: $GRAY_4;
}
.os-modal-input::-moz-placeholder{
  font-size: 14px;
  font-color: $GRAY_4;
  color: $GRAY_4;
}
.os-modal-input:-ms-input-placeholder{
  font-size: 14px;
  font-color: $GRAY_4;
  color: $GRAY_4;
}

.os-modal-btn {
  padding: 14px 34px 11px 34px;
  font-size: 14px;
  color: $WHITE;
}

.os-modal-forgot-pwd-link{
  font-style: italic;
  margin-left: 25px;
}
.os-modal-here-link{
  color: $YELLOW_1;
}
.modal-dialog button.close {
  outline: none;
}