
.os-counter-tips-list {
  margin-bottom: 0px;
}

.os-counter-tip {
  margin-bottom: 8px;
  padding-top: 12px;
  padding-bottom: 8px;
  margin-left: -8px;
  position: relative;

  &:not(:last-child) {
    border-bottom: 1px solid darken($BLACK_HAZE, 5%);
  }

  hr {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.os-counter-tip-icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.os-counter-tip-text {
  margin-bottom: 6px;
  font-size: 14px;
  overflow-wrap: break-word;
  word-break: break-all;

  // for Webkit
  word-break: break-word;
}


.os-counter-tip-text-short {
  // Show 3 lines by default
  cursor: pointer;
  overflow: hidden;
  max-height: 64px;
}
.os-counter-tip-text-short,
.os-counter-tip-text-long {
  cursor: pointer;
  margin-bottom: 20px;
}
.os-tip-text-no-after{
  cursor: default !important;
}

.os-tip-text-no-after::after{
  content: none !important;
}

.os-counter-tip-text-short::after{
  position: absolute;
  bottom: 30px;
  left: 46%;
  color: $BLUE_1;
  content: "Load more";
}

.os-counter-tip-text-long::after{
  position: absolute;
  bottom: 30px;
  left: 46%;
  color: $BLUE_1;
  content: "Collapse";
}


.os-counter-tip-footer {
  margin-bottom: 8px;
  font-size: 12px;
  color: lighten($MONSOON, 10%);
}
.os-counter-tip-metadata {
  float: left;
}

.os-counter-tip-score {
  float: right;
}

.os-counter-tip-count {
  // color: Colors.TRUE_BLUE
}

.os-counter-tip-caret {
  padding: 4px;
  font-size: 18px;
  color: $MONSOON;
}

.os-counter-tip-caret-non-active {
  cursor: pointer;

  &:hover{
    color: darken($VULCAN, 25%);
  }
}
.os-counter-tip-caret-active.fa-caret-up {
  color: $GREEN_1 !important;
}

.os-counter-tip-caret-active.fa-caret-down {
  color: $RED_1 !important;
}

.os-counter-tip-score-alt {
  float: left;
  width: 40px;
  margin-top: -8px;
  font-size: 18px;
  text-align: center;
}
.os-counter-tip-vote-alt {
  color: $BLACK_3;
}

.os-counter-tip-vote-non-active-alt {
  cursor: pointer;

  &:hover{
    color: darken($VULCAN, 25%)
  }
}
.os-counter-tip-vote-active-alt {
  color: darken($VULCAN, 75%) !important;
}

.os-counter-tip-upvote-alt {
  margin-bottom: -4px;
}

.os-counter-tip-downvote-alt {
  margin-top: -4px;
}

.os-counter-tip-total-alt {
  margin-bottom: -8px;
  font-weight: bold;
  color: lighten($VULCAN, 5%)
}

.os-counter-tip-content {
  padding-left: 64px;
}

.os-counter-tip-author {
  color: $YELLOW_1;
}

.os-tip-button-group{
  margin-bottom: 20px;
  text-align: center;
}

.os-counter-tip-ed-control{
  position: absolute;
  bottom: 12px;
  right: 12px;
}
