// Mobile-friendliness changes
@media screen and (max-width: $BP_MD) {
  .os-content-top,
  .os-content-body {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .os-hero-top {
    padding-left: 10px;
    padding-right: 10px;
  }
  .os-map-tip-header {
    padding: 0;
  }
  .os-content {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .os-heroes-top { 
    // Combat absolutely positined search bar
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .os-container {
    padding: 0;
  }
  .os-card-container {
    padding: 0;

    .row {
      margin: 0;
    }
  }
  .os-card-col {
    padding: 20px 0px;
    width: 100%;
  }
  .os-card-body {
    // margin: 0px 5px;
    margin: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  .os-matchup-top,
  .os-matchup-body {
    padding: 20px;
    margin: 0;
  }

  .os-matchup-vs-img {
    background-size: contain;
    width: 80px;
    height: 42px;
    margin-top: 70px;
  }

  .os-forgot,
  .os-reset
  {
    padding: 50px 0px;
    height: initial; 
  }

  .os-forgot-body,
  .os-reset-body{
    width: 350px !important;
  }

  .mobile-hidden {
    display: none;
  }

  // TODO: move this to appropriate place
  // .input-group-btn,
  // .os-search-input {
  //   display: block;
  // }

  // For Tabs
  .os-tabs-nav,
  .os-hero-nav {
    width: 100%;
    
    .os-tabnav-item,
    .os-hero-nav-item {
      text-align: left;
      width: 100%;
      background-color: $GRAY_3;
      color: $GRAY_5;
      border: none;
      box-shadow: none;
      margin-left: 0;
      border-bottom: 1px solid $GRAY_5;

      a {
        padding: 16px 20px;
        display: block;
        font-size: 12px;
      }
      a,
      div {
        border: none;
        color: $GRAY_5;

        &:hover {
          border: none;
          color: $GRAY_5;
        }
      }
      &:first-child,
      &:last-child {
        border-radius: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      .os-tab-icon,
      .os-tab-text {
        display: inline-block;
        margin-right: 10px;
      }
      .os-tab-item-ALL {
        margin-right: 0;
      }
    }
    .os-tabnav-item.active,
    .os-hero-nav-item.active {
      background-color: $BLACK_3;
      color: $WHITE;
      border-left: 4px solid $BLUE_1;

      a,
      div {
        color: $WHITE;
      }
    }
  }
  .os-comm-search {
    margin-bottom: 10px;
  }
  .os-comm-boards {
    margin-left: -8px;
    margin-right: -8px;
  }
  .os-comm-boards-section {
    padding: 0 8px;

    width: 50%;
    // margin-bottom: 20px;
    border-radius: 5px !important;

    .boards-content {
      display: block;
      border-radius: 5px;
      box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
      border-radius: 5px;
      text-align: center;
      border: 1px solid $GRAY_2;
      margin-bottom: 20px;

      img {
        margin: 10px 20px;
        height: 50px;
      }
    }
    .boards-header,
    .boards-description {
      display: block !important;
      height: auto !important;
      text-align: left;
    }
    a {
      display: block;
      width: 100%;
      border-radius: 5px;
    }
  }
}
@media screen and (max-width: $BP_SM) {

  .os-card-col {
    border-radius: 0;
    border: none;
    box-shadow: none;
  }
    .os-comm-boards-section {
      width: 100%;
}
}