// Mobile-friendliness changes
@media screen and (max-width: $BP_MD) {
  .os-hero-top {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .os-heroes-top,
  .os-heroes-body {
    margin: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
  .os-content {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0;
    padding-top: 0;
  }
  .os-hero-body {
    margin: 0;
  }
  .os-heroes-top { // Combat absolutely positined search bar
    padding-top: 20px;
    padding-bottom: 10px;
  }
  // .os-heroes-top,
  // .os-hero-top,
  // .os-hero {
  //   >.col-xs-12,
  //   >.col-lg-12,
  //   >.col-lg-3,
  //   >.col-lg-9 {
  //     padding: 0;
  //   }
  // }
  .os-container {
    padding: 0;
  }
  .os-heroes .col-lg-12 {
    padding: 0;
  }

  // TODO: move this to appropriate place
  // .input-group-btn,
  // .os-search-input {
  //   display: block;
  // }
}
@media screen and (max-width: $BP_SM) {
  .os-content {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}